@page
@model dihiddie.Pages.SubPages.BlogPostModel
@{
    ViewData["Title"] = "BlogPost";
    Layout = null;
}

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        body {
            margin: 0px;
            max-width: 100%;
            overflow-x: hidden;
        }

        .imgbox {
            height: 100%;
            width: 100%;
        }
        .center-fit {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            opacity: 0.9
        }

        .caption {
            position: absolute;
            left: 0;
            right: 0;
            top: 80%;
            width: 100%;
            text-align: center;
            display: inline-block;
        }

        .caption span.border {
            background-color: black;
            color: white;
            padding: 28px;
            font-size: 35px;
            font-weight: bold;
            letter-spacing: 15px;
        }

        .back-arrow {
            position: absolute;
            top: 7%;
            /*width: 100%;
            text-align: center;*/
            display: inline-block;
        }

        .triangle-left {
            width: 0;
            height: 0;
            font-size: 30px;
            border-top: 25px solid transparent;
            border-right: 50px solid lightgray;
            border-bottom: 25px solid transparent;
        }

        #blogcontent {
            font-size: 20px;
            font-family: Times, "Times New Roman", serif;
            text-align: justify;
            width: 1190px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            /*this to solve "the content will not be cut when the window is smaller than the content": */
            max-width: 100%;
            max-height: 100%;
        }

        .glow {
            padding: 25px;
            font-size: 65px;
            font-weight: bold;
            letter-spacing: 10px;
            color: #fff;
            text-align: center;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }

        @@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  }

        .arrow {
            position: absolute;
            opacity: 0.2;
            width: 4vmin;
            height: 4vmin;
            top: 7%;
            background: transparent;
            border-top: 1vmin solid #f9b4ef;
            border-right: 1vmin solid #f9b4ef;
            box-shadow: 0 0 0 lightgray;
            transition: all 200ms ease;
            margin-left: 20px;
        }
            .arrow.left {
                left: 0;
                transform: translate3d(0, -50%, 0) rotate(-135deg);
                position: fixed;
            }

            .arrow:hover {
                border-color: #FF4DA6;
                opacity: 1;
                box-shadow: 0.5vmin -0.5vmin 0 #b0b0b0;
            }
.arrow:before {
  content: '';
  position: absolute;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}
    
    </style>
</head>
<body>
<div class="imgbox">
    <img class="center-fit" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.PreviewImage))" />
</div>
<div class="caption">
    <span class="glow">@Model.PostContent.Title</span>
</div>
<a href="https://localhost:44354" class="arrow left"></a>
<div id="blogcontent">
    @Model.PostContent.Content
</div>
<script>

    $('#blogcontent').each(function() {
        var $this = $(this);
        var t = $this.text();
        $this.html(t.replace('&lt', '<').replace('&gt', '>'));
    });

</script>
</body>