<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <title>dihiddie - @ViewBag.Title</title>   
    <environment include="Development, Staging, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/about.css" />
        <link rel="stylesheet" href="~/css/story.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
        <link rel="stylesheet" href="~/css/loginform.css" />
        <link rel="stylesheet" href="~/css/blog.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/summernote.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
</head>
<body>
    <script>
        $(document).ready(function () {
            $(document).delegate('.open', 'click', function (event) {
                $(this).addClass('oppenned');
                event.stopPropagation();
            })
            $(document).delegate('body', 'click', function (event) {
                $('.open').removeClass('oppenned');
            })
            $(document).delegate('.cls', 'click', function (event) {
                $('.open').removeClass('oppenned');
                event.stopPropagation();
            });
        });
    </script>
    @if (!dihiddie.Models.UserHelper.IsAdminMode)
    {
        <p id="title">
            <a asp-page="/Stories">DIHIDDIE</a>
        </p>
    }

    <div class="open">
        <span class="cls"></span>
        <span>
            <ul class="sub-menu ">
                <li>
                    <a asp-page="/Index">Блог</a>
                </li>
                <li>
                    <a asp-page="/Stories">Рассказы</a>
                </li>
                @if (dihiddie.Models.UserHelper.IsAdminAutorized)
                {
                    <li>
                        <a asp-page="/About">Дневник</a>
                    </li>
                }
                <li>
                    <a asp-page="/About">Обо мне</a>
                </li>
                @if (dihiddie.Models.UserHelper.IsAdminAutorized)
                {
                    <li>
                        <a asp-page="/AdminPanel/Dashboard">Админка</a>
                    </li>
                }
            </ul>
        </span>
        <span class="cls"></span>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development, Staging, Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/js/summernote.js"></script>
        <script src="~/js/summernote-ru-RU.js"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
