@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<p class="loud">Привет.</p>

<div class="main">
    <p class="lead">Меня зовут Гульназ, мне 26, и как однажды пела Рианна, "я люблю пожестче"</p>

    <p>
        Сколько себя помню, всегда вела дневники. Ровно с того момента, как научилась писать и складывать слова в предложения.
        А потом жизнь взяла за горло своей стальной хваткой, и пришлось находить в словах и придуманных историях то, чего в реальной жизни не было. И казалось, что никогда не будет.
        Этот сайт - вся я. Моя история, моя работа, мое похудение, мое становление собой. Мои кумиры, моя любовь и одержимость, мое яростное и неумолимое желание дойти до конца. Желание прожить крутую жизнь.
    </p>

    <p class="header">Что я делаю</p>

    <p>
        Сызмальства я мечтала стать писателем. Еще в возрасте 10 лет, исписывая 96-листовые тетрадки своим мелким забористым почерком, я знала: это - мое. Это будет делать меня счастливой. К 14 годам у меня был ящик,
        забитый моей "писаниной", как называли это родители, и моим "творчеством", как называла это я. К 20 было два законченных произведения, одно из которых пропитано кровью и смертью, что мерещелись мне везде в то время,
        а второе - тем, чего у меня не было: дружбой и романтикой. У меня была довольно забавная юность, как вы могли заметить.
    </p>
    <p>
        Но так получилось, что по професии я программист.
    </p>
    <p>И так получилось, что я очень люблю свою сферу деятельности, несмотря на то, что по моим ощущениям, мне в ней никогда не преуспеть.</p>

    <p class="header">О чем это сайт</p>

    <blockquote style="margin: 10px 0">
        <p class="quotation">
            Happiness comes from you. No one else can make you happy. You make you happy.
        </p>
        <footer>Beyonce</footer>
    </blockquote>

    <p>
        Обо мне. О моем здоровом эгоизме и пофигизме, про изменение себя внутреннее и внешне, про преодоление границ и выходов из зоны комфорта. Про самосовершенствование, про вдохновение, про силу.
        Моя главная цель - научиться генерировать счастье в себе, не искать его в других. Сделать его автономным, сильным, способным преодолеть все.
    </p>

</div>