@page
@model dihiddie.Pages.LoginModel
@{
    ViewData["Title"] = "Вход в систему";
}

<div class="wrapper">
    <form class="form-signin" asp-page-handler="login" method="post">
        <h2 class="form-signin-heading">Вход в систему</h2>
        <input type="text" class="form-control" name="Admin.UserName" placeholder="username" required="" autofocus="" />
        <input type="password" class="form-control" name="Admin.Password" placeholder="password" required="" />        
        <p class="errorlabel">@Model.ErrorMessage</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>