@page
@model StoriesModel
@{
    ViewData["Title"] = "Рассказы";
}
@{
    Layout = "_Layout";
}


@foreach (var story in Model.Stories)
{
    <a asp-page="/SubPages/Story" asp-route-title="@story.Title">
        <div class="box effect6">
            <h3>@story.Title</h3>
            <p>Создано: @story.CreateDateTime</p>
            <p>Размер: @story.Size kb</p>
        </div>        
    </a>
}