@page
@model dihiddie.Pages.AdminPanel.CreateOrEditModel
@{
    ViewData["Title"] = "Запись";
}


<form method="post" class="form-horizontal postcontainer">
    <div class="form-group">
        <div class="no-title-margin">
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Post.Title, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Введите название" } })
            </div>
            <div class="col-lg-2" style="align-content: right">
                <button type="submit" class="btn btn-success pull-right" onclick="saveNotification()">Перейти к настройкам поста</button>
            </div>
            @Html.HiddenFor(model => model.Post.Id)
        </div>
    </div>

    <div>
        @Html.HiddenFor(model => model.Post.Content, new { @class = "form-control", id = "messageValue" })
        <div class="summernote note-editable" id="createOrEditSummernoteId"></div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/summernote.js"></script>
    <script src="~/js/summernote-ru-RU.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize Editor
            $('.summernote').summernote({
                lang: "ru-RU"
            });
            $('#createOrEditSummernoteId').code(document.getElementById("messageValue").value);
        });

        function saveNotification() {
            document.getElementById("messageValue").value = $('#createOrEditSummernoteId').code();
        }
    </script>
}

@section Styles
    {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/css/entry.css")" rel="stylesheet" type="text/css" />
}
